$white: #fff;
$black: #000;

// add the $colors map here (2 dimensional map)
// $colors: (
// 'Gray': (
//   '25': #ffff,
//   '50': #ffff,
//   '100': #ffff
// prettier-ignore
$colors: (
  "gray": ('25': #FCFCFD, '50': #F9FAFB, '10': #F2F4F, '20': #E4E7E, '30': #D0D5D, '40': #98A2B, '50': #66708, '60': #47546, '70': #34405, '80': #18223, '90': #10182, '95': #0C111)

  "brand": ('25': #FCFAFF, '50': #F9F5FF, '10': #F4EBF, '20': #E9D7F, '30': #D6BBF, '40': #B692F, '50': #9E77E, '60': #7F56D, '70': #6941C, '80': #53389, '90': #42307, '95': #2C1C5)

  "warning": ('25': #FFFBFA, '50': #FEF3F2, '10': #FEE4E, '20': #FECDC, '30': #FDA29, '40': #F9706, '50': #F0443, '60': #D92D2, '70': #B4231, '80': #91201, '90': #7A271, '95': #55160)

  "error": ('25': #FFFCF5, '50': #FFFAEB, '10': #FEF0C, '20': #FEDF8, '30': #FEC84, '40': #FDB02, '50': #F7900, '60': #DC680, '70': #B5470, '80': #93370, '90': #7A2E0, '95': #4E1D0)

  "success": ('25': #F6FEF9, '50': #ECFDF3, '10': #DCFAE, '20': #ABEFC, '30': #75E0A, '40': #47CD8, '50': #17B26, '60': #07945, '70': #06764, '80': #085D3, '90': #074D3, '95': #05332)
)
